.cartItemContainer {
  background-color: #f7fff0;
  border-bottom: 1px solid #ccc;

  position: relative;
}

.cartItemContainer > .image {
  display: inline-block;
}
.itemValueContainer p {
  position: relative;
}

.itemValueContainer > p {
  position: absolute;
  display: inline-block;
  top: 20%;
}

.itemValueContainer > select,
.itemValueContainer > div {
  position: relative;
  display: inline-block;
  top: 39%;
  left: 20px;
}
